<div class="sources form">
<?php echo $this->Form->create('Source');?>
	<fieldset>
		<legend><?php echo __('Add Source'); ?></legend>
	<?php
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Sources'), array('action' => 'index'));?></li>
		<li><?php echo $this->Html->link(__('List Listings'), array('controller' => 'listings', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Listing'), array('controller' => 'listings', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Xml Uploads'), array('controller' => 'xml_uploads', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Xml Upload'), array('controller' => 'xml_uploads', 'action' => 'add')); ?> </li>
	</ul>
</div>
