<html>
<head>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<?php echo $this->Html->script('map_example2.js'); ?>
</head>
<body onload="initialize()">
	<a href="#" onclick="javascript: showPoints(); return false;">Show Points</a>
	<div id="map" style="width: 480px; height: 480px;"></div>
</body>
</html>
