<div id="listings-streamer" style="width: 86%; margin: 0 auto;">
	<div class="col1-6">
		<img src="http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/themes/realestate_2/img_resize/timthumb.php?src=http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/uploads/2011/03/land.jpg&h=68&w=118&zc=1" />
		<p>
			<h5><a href="http://wp.contempographicdesign.com/wp_real_estate_2/?post_type=listings&p=741">5301 Willows Rd</a></h5>
			<p class="location">Alpine, CA 91901</p>
			<p class="price"><strong>$2,888,000</strong></p>
			<p class="propinfo">4.47 Acres</p>
		</p>
		<a href="#" class="button"><span>View<img src="/img/layout/arr.gif" alt=""></span></a>
	</div>

	<div class="col1-6">
		<img src="http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/themes/realestate_2/img_resize/timthumb.php?src=http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/uploads/2011/03/land.jpg&h=68&w=118&zc=1" />
		<p>
			<h5><a href="http://wp.contempographicdesign.com/wp_real_estate_2/?post_type=listings&p=741">5301 Willows Rd</a></h5>
			<p class="location">Alpine, CA 91901</p>
			<p class="price"><strong>$2,888,000</strong></p>
			<p class="propinfo">4.47 Acres</p>
		</p>
		<a href="#" class="button"><span>View<img src="/img/layout/arr.gif" alt=""></span></a>
	</div>

	<div class="col1-6">
		<img src="http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/themes/realestate_2/img_resize/timthumb.php?src=http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/uploads/2011/03/land.jpg&h=68&w=118&zc=1" />
		<p>
			<h5><a href="http://wp.contempographicdesign.com/wp_real_estate_2/?post_type=listings&p=741">5301 Willows Rd</a></h5>
			<p class="location">Alpine, CA 91901</p>
			<p class="price"><strong>$2,888,000</strong></p>
			<p class="propinfo">4.47 Acres</p>
		</p>
		<a href="#" class="button"><span>View<img src="/img/layout/arr.gif" alt=""></span></a>
	</div>

	<div class="col1-6">
		<img src="http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/themes/realestate_2/img_resize/timthumb.php?src=http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/uploads/2011/03/land.jpg&h=68&w=118&zc=1" />
		<p>
			<h5><a href="http://wp.contempographicdesign.com/wp_real_estate_2/?post_type=listings&p=741">5301 Willows Rd</a></h5>
			<p class="location">Alpine, CA 91901</p>
			<p class="price"><strong>$2,888,000</strong></p>
			<p class="propinfo">4.47 Acres</p>
		</p>
		<a href="#" class="button"><span>View<img src="/img/layout/arr.gif" alt=""></span></a>
	</div>

	<div class="col1-6">
		<img src="http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/themes/realestate_2/img_resize/timthumb.php?src=http://wp.contempographicdesign.com/wp_real_estate_2/wp-content/uploads/2011/03/land.jpg&h=68&w=118&zc=1" />
		<p>
			<h5><a href="http://wp.contempographicdesign.com/wp_real_estate_2/?post_type=listings&p=741">5301 Willows Rd</a></h5>
			<p class="location">Alpine, CA 91901</p>
			<p class="price"><strong>$2,888,000</strong></p>
			<p class="propinfo">4.47 Acres</p>
		</p>
		<a href="#" class="button"><span>View<img src="/img/layout/arr.gif" alt=""></span></a>
	</div>
</div>
