<div id="article">
    <div id="formwrap" class="left">
   <p>Fully functional contact form included with Ajax Submission and Validation, <strong>no plugin required</strong>!<br />
Completely customizable from the Custom Admin Panel.</p>

        <form id="contactform" class="formular" method="post" action="/send-message">
            <fieldset>
                <input type="text" name="name" id="name" class="text-input" value="" />
                
                <input type="text" name="email" id="email" class="text-input" value="" />
                
                <textarea class="validate[required,length[2,500]] text-input" name="message" id="message" rows="5" cols="10"></textarea>
                
                <input type="submit" name="Submit" value="Submit" id="submit" class="btn" />  
            </fieldset>
        </form>
    </div>
      
                        
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>		
<script>
  function setMapAddress(address) {
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode( { address : address }, function( results, status ) {
          if( status == google.maps.GeocoderStatus.OK ) {
              var latlng = results[0].geometry.location;
              var options = {
                  zoom: 15,
                  center: latlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP, 
                  streetViewControl: true
              };
              var mymap = new google.maps.Map( document.getElementById( 'map' ), options );   
              var marker = new google.maps.Marker({
              map: mymap, 
              position: results[0].geometry.location
          });		
          }
      } );
  }
  setMapAddress( "San Diego, CA 350 Camino De La Reina, 92108" );
  </script>
  <div id="location" class="singlecol left last">
                   <h4>Your Company Name</h4>

<p><strong>P.</strong> (619) 555-6389<br />
<strong>F.</strong> (619) 555-6388</p>

<p>350 Camino De La Reina<br />
San Diego, CA 92108</p>                        <div id="map" class="singlecol right last">Loading...</div>
  </div>
                          </div>
  
      
</article>
