<div class="propertyTypes index">
	<h2><?php echo __('Property Types');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('name');?></th>
			<th><?php echo $this->Paginator->sort('active');?></th>
			<th><?php echo $this->Paginator->sort('created');?></th>
			<th><?php echo $this->Paginator->sort('modified');?></th>
			<th class="actions"><?php echo __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($propertyTypes as $propertyType): ?>
	<tr>
		<td><?php echo h($propertyType['PropertyType']['id']); ?>&nbsp;</td>
		<td><?php echo h($propertyType['PropertyType']['name']); ?>&nbsp;</td>
		<td><?php echo h($propertyType['PropertyType']['active']); ?>&nbsp;</td>
		<td><?php echo h($propertyType['PropertyType']['created']); ?>&nbsp;</td>
		<td><?php echo h($propertyType['PropertyType']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $propertyType['PropertyType']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $propertyType['PropertyType']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $propertyType['PropertyType']['id']), null, __('Are you sure you want to delete # %s?', $propertyType['PropertyType']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Property Type'), array('action' => 'add')); ?></li>
	</ul>
</div>
