<div class="postComments index">
	<h2><?php echo __('Post Comments');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('user_id');?></th>
			<th><?php echo $this->Paginator->sort('blog_uuid');?></th>
			<th><?php echo $this->Paginator->sort('post_id');?></th>
			<th><?php echo $this->Paginator->sort('name');?></th>
			<th><?php echo $this->Paginator->sort('email');?></th>
			<th><?php echo $this->Paginator->sort('message');?></th>
			<th><?php echo $this->Paginator->sort('created');?></th>
			<th><?php echo $this->Paginator->sort('modified');?></th>
			<th class="actions"><?php echo __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($postComments as $postComment): ?>
	<tr>
		<td><?php echo h($postComment['PostComment']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($postComment['User']['id'], array('controller' => 'users', 'action' => 'view', $postComment['User']['id'])); ?>
		</td>
		<td><?php echo h($postComment['PostComment']['blog_uuid']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($postComment['Post']['title'], array('controller' => 'posts', 'action' => 'view', $postComment['Post']['id'])); ?>
		</td>
		<td><?php echo h($postComment['PostComment']['name']); ?>&nbsp;</td>
		<td><?php echo h($postComment['PostComment']['email']); ?>&nbsp;</td>
		<td><?php echo h($postComment['PostComment']['message']); ?>&nbsp;</td>
		<td><?php echo h($postComment['PostComment']['created']); ?>&nbsp;</td>
		<td><?php echo h($postComment['PostComment']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $postComment['PostComment']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $postComment['PostComment']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $postComment['PostComment']['id']), null, __('Are you sure you want to delete # %s?', $postComment['PostComment']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Post Comment'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Posts'), array('controller' => 'posts', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Post'), array('controller' => 'posts', 'action' => 'add')); ?> </li>
	</ul>
</div>
