#home .listing .imgwrapmd,
#archive .listing .imgwrapmd {
	margin-right: 15px;
}

#home .listing h2,
#archive .listing h2 {
	margin: 0;
}

#home .listing p.location,
#archive .listing p.location {
	font-size: 12px;
	color: #888;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}

#home .listing p.price,
#archive .listing p.price {
	color: #3f9301;
	font-size: 18px;
	margin: 0 0 10px 0;
}

#home .listing p.propinfo,
#archive .listing p.propinfo {
	font-size: 12px;
	margin: 0;
}

#home .listing p.proptype,
#archive .listing p.proptype {
	font-size: 10px;
	text-transform: uppercase;
	color: #888;
	margin: 0 0 15px 0;
}

#home .listing p.agent,
#archive .listing p.agent {
	font-size: 12px;
	margin: 0;
}