#author-info img#authorimg {
	margin: 0 15px 0 0;
	border: 1px solid #bec5cd;
	padding: 5px;
	background: #fff;
}

#author-info h1 {
	margin-top: 10px;
}

#author-info p {
	margin: 0;
}

#author-info p#tagline {
	font-size: 12px;
	margin: 0 0 15px 0;
}

#author-info .contact-info {
	margin: 0 15px 0 0;
	width: 200px;
}

#author-info .contact-info p {
	font-size: 12px;
}

#author-info p#bio {
	margin-top: 15px;
}