/** Listings Print CSS
==============================================================================*/

body { font-family: Georgia, "Times New Roman", Times, serif; font-size: 11pt; color: #000; background: #fff;}
#container { width: auto; border: 0; margin: 0 5%; padding: 20px 0 0 0; float: none !important;}
nav, #logo, #viewmore, #sliderwrap, #listing-tools, #map, footer { display: none;}
#print-thumb { display: block; float: left; margin: 0 15px 0 0;}
p { font-size: 11pt;}
a { color: #000; text-decoration: none;}
p a:after {	content: " ("attr(href)") "; font-size: 10pt;}
ul.propfeatures { float: left; margin-bottom: 0;}
h3.divide { clear: both;}
h3#location { text-indent: -999px;}
#authorimg { float: left; margin: 0 15px 0 0;}
#authorinfo p { margin: 0 0 5px 0;}
.widget { display: none;}