body {
	/*
	background: #C269FE !important;
  	background-color: #0a5a63 !important;
	*/
	/*
	background: #279BD5 url(../images/bg.gif) repeat-x 0 0 !important;
	background: #86BCFF !important;
	background: #EEE !important;
	*/
}

/** =============================== GENERAL =========================== **/

/*
h3 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 15px 0;
	color: #3B8DBD;
	font-weight: normal;
}
*/

.clear {
	clear: both;
}

.clear_left {
	clear: left;
}

.clear_right {
	clear: right;
}

.left {
	float: left;
}

.right {
	float: right;
}

div#main-newsfeed {
	min-height: 400px;
	margin-top: 20px;
	float: none !important;
}

div.box-type-1 {
	background: #F4F4F4;
	padding: 10px;
	border: 1px solid #DBDBDB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.ad-box {
	height: 200px;
	margin-bottom: 15px;
}

div.ad-box .default-text {
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 48%;
}

#qa_glance .date-comments {
	background: #EEE;
}

.navmenu a:hover {
	text-decoration: none;
}


ul#listings_streamer {
	padding: 0 0 20px 0;
	background: url(../img/h_divider.png) repeat-x bottom;
}

ul#listings_streamer li {
	float: left;
	width: 16%;
}

ul#listings_streamer li p {
	margin: 0;
}

ul#listings_streamer div.snipe-sm {
	width: 100px;
	display: inline;
	float: left;
	position: relative;
	top: 0;
}

ul#listings_streamer .imgwraptn {
	position: absolute;
}

/** =============================== LISTINGS SEARCH =========================== **/

div.listings-search-area {
	background: #F4F4F4;
	padding: 10px;
	border: 1px solid #DBDBDB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.listings-search-area input {
	float: left !important;
}

div.listings-search-area input#ct_location{
	padding: 10px;
	font-size: 14px;
	float: left;
	margin-right: 15px;
	top: 15px;
	position: relative;
}

div.listings-search-area select {
	height: 30px;
	padding: 4px 0;
	background: white;
}

div.listings-search-area .bottom-row {
	margin: 10px 0 0 0 !important;
}

div.listings-search-area label {
	width: 50px;
	text-align: left;
}

div.listings-search-area .left {
	margin-right: 15px;
}

div.listings-search-area select {
	width: 60px;
}

div.listings-search-area input.span2 {
	width: 70px;
}

/** =============================== ADVERTISEMENTS =========================== **/

.ad-container, .featured-listings-container {
	background: #F4F4F4;
	padding: 10px;
	border: 1px solid #DBDBDB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
}

.featured-listings-container {
	height: 250px;
}

.demo-ad {
	height: 150px;
}


/** ================================ GRADIENT BOXES ================================ **/
.gradient-box-1 {
	background: white;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#DDD));
	background: -webkit-linear-gradient(top,white 0,#DDD 100%);
	background: -moz-linear-gradient(top,white 0,#DDD 100%);
	background: -ms-linear-gradient(top,white 0,#DDD 100%);
	background: -o-linear-gradient(top,white 0,#DDD 100%);
	background: linear-gradient(top,white 0,#DDD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	border-left: solid 1px #EEE;
	border-right: solid 1px #EEE;
	border-bottom: solid 1px #CCC;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}


/** ================================ SHADOWS ================================ **/

.drop-shadow {
	position:relative;
	float:left;
	padding:1em; 
	margin:2em 10px 4em; 
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
	content:"";
	position:absolute; 
	z-index:-2;
}

.drop-shadow p {
	font-size:16px;
	font-weight:bold;
}

/* Lifted corners */

.lifted {
	-moz-border-radius:4px; 
		  border-radius:4px;
}

.lifted:before,
.lifted:after { 
	bottom:15px;
	left:10px;
	/*max-width:300px;*/
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
		-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
			  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-3deg);    
		-moz-transform:rotate(-3deg);   
		 -ms-transform:rotate(-3deg);   
		  -o-transform:rotate(-3deg);
			  transform:rotate(-3deg);
}

.lifted:after {
	right:10px; 
	left:auto;
	-webkit-transform:rotate(3deg);   
		-moz-transform:rotate(3deg);  
		 -ms-transform:rotate(3deg);  
		  -o-transform:rotate(3deg);
			  transform:rotate(3deg);
}

/* Curled corners */

.curled {
	border:1px solid #efefef; 
	-moz-border-radius:0 0 120px 120px / 0 0 6px 6px;    
		  border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
	bottom:12px;
	left:10px;
	width:50%;
	height:55%;
	max-width:200px;
	-webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
		-moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
			  box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
	-webkit-transform:skew(-8deg) rotate(-3deg);
		-moz-transform:skew(-8deg) rotate(-3deg);
		 -ms-transform:skew(-8deg) rotate(-3deg);
		  -o-transform:skew(-8deg) rotate(-3deg);
			  transform:skew(-8deg) rotate(-3deg);
} 

.curled:after { 
	right:10px; 
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg); 
		-moz-transform:skew(8deg) rotate(3deg);     
		 -ms-transform:skew(8deg) rotate(3deg);     
		  -o-transform:skew(8deg) rotate(3deg); 
			  transform:skew(8deg) rotate(3deg);
}

/* Perspective */

.perspective:before {
	left:80px;
	bottom:5px;
	width:50%;
	height:35%;
	max-width:200px;
	-webkit-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
			  box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
	-webkit-transform:skew(50deg);
		-moz-transform:skew(50deg);
		 -ms-transform:skew(50deg);
		  -o-transform:skew(50deg);
			  transform:skew(50deg);
	-webkit-transform-origin:0 100%;
		-moz-transform-origin:0 100%;
		 -ms-transform-origin:0 100%;
		  -o-transform-origin:0 100%;
			  transform-origin:0 100%;
}

.perspective:after {
	display:none;
}

/* Raised shadow - no pseudo-elements needed */

.raised {
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Curved shadows */

.curved:before {
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius:10px / 100px;
	border-radius:10px / 100px;
}

.curved-vt-2:before {
	right:0;
}

.curved-hz-1:before {
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}

.curved-hz-2:before {
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}

/* Rotated box */

.rotated {
	-webkit-box-shadow:none;
		-moz-box-shadow:none;
			  box-shadow:none;
	-webkit-transform:rotate(-3deg);    
		-moz-transform:rotate(-3deg);   
		 -ms-transform:rotate(-3deg);
		  -o-transform:rotate(-3deg);
			  transform:rotate(-3deg);
}

.rotated > :first-child:before {
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/** USER CARD **/
#user_card {
	height: 20px;
	width: 170px;
	background: #EEE;
	color: black;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	border-radius: 0 0 0 8px;
	-moz-border-radius: 0 0 0 8px;
}

#user_card a.trigger {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
}

#user_card a:hover {
}

.user_card_menu {
	background: #EEE;
	right: -5px;
	padding: 0px 5px 5px 5px;
	/*border: 1px solid #59BAFF;*/
	border-top: none;
	color: #59BAFF;
	-moz-box-shadow: 1px 1px 0 #59BAFF;
	-webkit-box-shadow: 1px 1px 0 #59BAFF;
	-moz-box-shadow: 1px 1px 0 #AAA;
	-webkit-box-shadow: 1px 1px 0 #AAA;
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	z-index: 999;
	position: relative;
	display: none;
}

.user_card_menu li {
	text-align: left;
}

.user_card_menu li a {
	color: #59BAFF;
	font-weight: normal;
	color: #000;
}

.user_card_menu li a:hover {
	color: #3F82B1;
	font-weight: normal;
}

li.divider {
	height: 1px;
	border-top: 1px solid #CCC;
	margin: 5px 0;
}

/** Maps **/

#selected_areas span {
	display: block;
	float: left;
	clear: left;
}

/** Tables **/
table.list-table {
	width: auto;
	border-collapse: collapse;
}

table.list-table tr td {
	padding: 10px;
}

table.list-table tr th {
	border-bottom: 1px solid black;
}

table.list-table thead tr th {
	padding: 5px 10px;
}

/** Social **/
.share-buttons img {
	float: left;
	margin-right: 10px;
}

#social-networks-auth * {
	float: right;
}

/** Comments **/
.comment-container {
	float: left;
	margin-bottom: 15px;
	width: 500px;
	font-size: 13px;
}

.comment-header {
	background: url(../img/comment_backgrounds-sprite.png) 0 0 repeat-x;
	max-height: 36px;
	border: 1px solid rgba(0, 0, 0, .15);
	margin: 0 0 0 1em;
	padding: 10px 10px 20px 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-overflow: ellipsis;
	line-height: 14px;
}

.commenter {
	float: left;
	font-weight: bold;
}

.comment-elapsed-time {
	float: right;
	text-align: right;
	font-weight: bold;
}

.comment-body {
	padding: 10px 40px;
}

.comment-actions a.block-link {
	margin-right: 8px;
}

.comment-tags {
	float: right;
	text-align: right;
}

.follow_button {
	padding: 2px 5px;
	font-weight: bold;
	font-size: .83em;
	margin: 0 10px 0 0;
	display: inline-block;
	zoom: 1;
	vertical-align: text-top;
}

.follow_button {
	background: -moz-linear-gradient(center top,#B3DC89 0,#85BA61 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#B3DC89),color-stop(1,#85BA61));
	background: -moz-linear-gradient(center top,#B3DC89 0,#85BA61 100%);
	-pie-background: linear-gradient(270deg,#b3dc89,#85ba61);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #6BA147;
	color: white;
	text-shadow: #73B134 1px 1px 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
}

.tag {
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F6F6F6;
	border: 1px solid #C8D5E0;
	color: #1E598E;
	float: right;
	font-weight: bold;
	margin-right: 3px;
	padding: 8px 10px;
	text-decoration: none;
}

.tag2 {
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F6F6F6;
	border: 1px solid #C8D5E0;
	color: #1E598E;
	float: right;
	font-weight: bold;
	margin-right: 3px;
	padding: 8px 10px;
	text-decoration: none;
}

.comment-form {
	background: white url("../img/backgrounds-sprite.png") 0 -480px repeat-x;
	width: auto;
	border: 1px solid #C1C1C1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	position: relative;
	width: 500px;
	height: 148px;
}

.comment-form textarea{
	border: none;
	resize: none;
	outline: none;
	margin: 10px;
	height: 95%;
	width: 95%;
}

.comment-submit {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 0 !important;
	float: right !important;
}

/** LISTINGS **/

.listing_result_img {
	width: 100px;
	margin: 10px;
}

.listing-info {
	float: left;
}

#listing-content {
	width: 600px;
}

.big-button {
padding: 4px 10px 4px;
font-size: 13px;
line-height: 18px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #FAFAFA;
/*
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
*/
background-repeat: no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border: 1px solid #CCC;
border-bottom-color: #BBB;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tag-bg {
	background: url(../../img/layout/tag.png) no-repeat right top;
	padding: 6px 20px 6px 16px;
	height:15px;
}

ul.agent-tags li{
	float: left;
	clear: left;
	width: 150px;
	margin-bottom: 8px;
}

.mini-content {
	background: white;
	border: 1px solid #EEE;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 10px;
}

.agent-connect-bar {
	width: 300px;
	margin: 0 auto;
}

.agent-connect-bar img {
	float: left;
	margin-right: 10px;
}
