<div class="left dashboard-main">
	<h1 style="margin-bottom: 0px; padding-bottom: 0px; line-height: 1em;"><?php echo $post['Post']['title']?></h1>
	<small>Created: <?php echo $post['Post']['created']?></small>

	<p><?php echo $post['Post']['body']?></p>

	<a href="<?php echo $HOME . '/posts/manage' ?>">Go Back</a>
</div>
