/*
 * jQuery Nivo Slider v2.7
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
/* The Nivo Slider styles */

.nivoSlider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

.nivoSlider {
	position:relative;
	background-position: 50% 50%
}

#slider {
	width:980px;
	height:316px !important;
}

#head {
	width:980px;
	height:156px
}

.portfolio-slider {
	width:680px;
	height:418px
}

#big-showcase .portfolio-slider {
	width:620px;
	height:418px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%
}

.nivo-box {
	display:block;
	position:absolute;
	z-index:5
}

/* Caption styles */
.nivo-caption {
	opacity:none;
	position:absolute;
	left:0;
	top:38px;
	font-size:14px;
	width:auto;
	z-index:8
}

.nivo-caption p span,.nivo-caption p p {
	padding:0 20px
}

.nivo-caption p p {
	margin:0;
	display:block;
	font-size:30px;
	line-height:1em;
	padding:0 20px
}

.nivo-caption p span {
	height:1.8em;
	display:inline-block
}

.nivo-html-caption {
	display:none
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	text-indent:9999px;
	display:block;
	width:31px;
	height:31px;
	position:absolute;
	top:42%;
	z-index:9;
	cursor:pointer
}

.nivo-prevNav {
	background:url(../../../img/layout/slider-arrows.png) no-repeat left top;
	left:20px
}

.nivo-nextNav {
	right:20px;
	background:url(../../../img/layout/slider-arrows.png) no-repeat right top
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position:absolute;
	overflow:hidden;
	z-index:20;
	height:15px;
	right:20px;
	bottom:50px
}

.nivo-controlNav a {
	line-height:10em;
	display:inline-block;
	margin:0 5px;
	width:11px;
	height:11px;
	background:url(../../../img/layout/slider-dots.png) no-repeat right top;
	cursor:pointer
}

.nivo-controlNav a.active {
	background:url(../../../img/layout/slider-dots.png) no-repeat left top
}

.portfolio-slider .nivo-controlNav {
	text-align:center;
	right:0;
	bottom:20px;
	width:100%
}

.portfolio-slider .nivo-controlNav a {


}

.portfolio-slider .nivo-directionNav a {
	top:50%;
	margin-top:-6px
}
