<div class="propertyStyles index">
	<h2><?php echo __('Property Styles');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('name');?></th>
			<th><?php echo $this->Paginator->sort('active');?></th>
			<th><?php echo $this->Paginator->sort('created');?></th>
			<th><?php echo $this->Paginator->sort('modified');?></th>
			<th class="actions"><?php echo __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($propertyStyles as $propertyStyle): ?>
	<tr>
		<td><?php echo h($propertyStyle['PropertyStyle']['id']); ?>&nbsp;</td>
		<td><?php echo h($propertyStyle['PropertyStyle']['name']); ?>&nbsp;</td>
		<td><?php echo h($propertyStyle['PropertyStyle']['active']); ?>&nbsp;</td>
		<td><?php echo h($propertyStyle['PropertyStyle']['created']); ?>&nbsp;</td>
		<td><?php echo h($propertyStyle['PropertyStyle']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $propertyStyle['PropertyStyle']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $propertyStyle['PropertyStyle']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $propertyStyle['PropertyStyle']['id']), null, __('Are you sure you want to delete # %s?', $propertyStyle['PropertyStyle']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Property Style'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Listing Details'), array('controller' => 'listing_details', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Listing Detail'), array('controller' => 'listing_details', 'action' => 'add')); ?> </li>
	</ul>
</div>
