<div class="blogSettings index">
	<h2><?php echo __('Blog Settings');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('uuid');?></th>
			<th><?php echo $this->Paginator->sort('tagline');?></th>
			<th><?php echo $this->Paginator->sort('email');?></th>
			<th><?php echo $this->Paginator->sort('date_format');?></th>
			<th><?php echo $this->Paginator->sort('time_format');?></th>
			<th><?php echo $this->Paginator->sort('allow_comments');?></th>
			<th><?php echo $this->Paginator->sort('administer_comments');?></th>
			<th><?php echo $this->Paginator->sort('allow_comment_replies');?></th>
			<th class="actions"><?php echo __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($blogSettings as $blogSetting): ?>
	<tr>
		<td><?php echo h($blogSetting['BlogSetting']['uuid']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['tagline']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['email']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['date_format']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['time_format']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['allow_comments']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['administer_comments']); ?>&nbsp;</td>
		<td><?php echo h($blogSetting['BlogSetting']['allow_comment_replies']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $blogSetting['BlogSetting']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $blogSetting['BlogSetting']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $blogSetting['BlogSetting']['id']), null, __('Are you sure you want to delete # %s?', $blogSetting['BlogSetting']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Blog Setting'), array('action' => 'add')); ?></li>
	</ul>
</div>
